html, body {
  background: rgb(46, 46, 46);
  color: rgb(0, 123, 255);
  font-family: 'Open Sans';
  font-style: sans-serif;
}

.greyTab {
  background: rgb(26, 26, 26);
}

#buffs {
  background: rgb(26, 26, 26);
}

#class {
  background: rgb(26, 26, 26);
}

#bosses {
  background: rgb(26, 26, 26);
}

#debuffs {
  background: rgb(26, 26, 26);
}

#skills {
  background: rgb(26, 26, 26);
}

#container {
  width: 100%;
}

@media (max-width: 1500px) {
  .btn-responsive {
    font-size:90%;
  }
  h5 {
    font-size: 100%;
  }
  .responsiveText {
    font-size: 68%;
  }
}

@media (max-width: 1800px) {
  .responsiveTextHide {
    display: none;
  }
}

/* @media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
} */

.buildButton {
  border-color: transparent;
  font-size: 130%;
  width: 50px;
  height: 50px;
}
